#gallery h2{
  margin-top: 20px;
}

/* Slideshow container */
.gallery-images {
  display: flex;
  overflow-y: hidden; /* Disable vertical scrolling */
  position: relative;
  height: 400px;
  width: 100%;
  padding: 10px;
}

/* Individual gallery image */
.gallery-image {
  flex: 0 0 auto;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  height: auto;
  filter: blur(2px);

}

.gallery-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;


}


.gallery-image.current {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  filter: none !important;
}


/* Navigation buttons */
.navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navigation button {
  margin: 0 5px;
  padding: 12px 24px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.navigation button:hover {
  background-color: #555;
}

.navigation .prev-slide {
  margin-right: 10px;
}

.navigation .next-slide {
  margin-left: 10px;
}

/* Responsive styles */
@media (max-width: 600px) {
  .gallery-images {
    height: 300px;
  }
}
